<?xml version="1.0" encoding="utf-8" ?>
<config>
<enable>1</enable>
<wififeature>
	<multssidenable>1</multssidenable>
	<wifiwpssuportwepnone>0</wifiwpssuportwepnone>
	<oledshowpassword>1</oledshowpassword>
	<maxapnum>1</maxapnum>
	<wifi5g_enabled>0</wifi5g_enabled>
	<stawpsenabled>0</stawpsenabled>
	<wifiautocountry_enabled>1</wifiautocountry_enabled>
	<!--offload开启时，wifi最大连接数，默认为空表示和wifimaxassoc一致-->
	<maxassocoffloadon></maxassocoffloadon>
	<paraimmediatework_enable>1</paraimmediatework_enable>
	<stafrequenceenable>0</stafrequenceenable>
	<wifissid2accessui>1</wifissid2accessui>
	<isdoublechip>0</isdoublechip>
	<acmode_enable>0</acmode_enable>
	<totalwifimaxassoc>10</totalwifimaxassoc>
	<opennonewps_enable>1</opennonewps_enable>
	<wifi24g_switch_enable>0</wifi24g_switch_enable>
	<wifi_dfs_enable>0</wifi_dfs_enable>
	<doubleap5g_enable>0</doubleap5g_enable>
	<chinesessid_enable>0</chinesessid_enable>
	<guestwifi_enable>1</guestwifi_enable>
	<wps_switch_enable>1</wps_switch_enable>
	<wifi_country_enable>1</wifi_country_enable>
	<wps_cancel_enable>1</wps_cancel_enable>
</wififeature>
<sta>
<frequence>0</frequence>
</sta>
<ssid0>
	<wifibasic>
		<wifissid></wifissid>
        <wifichannel>0</wifichannel>
		<wifihide>0</wifihide>
		<wifiautocountryswitch>1</wifiautocountryswitch>
		<wificountry>US</wificountry>
		<wifimode>b/g/n</wifimode>
		<wifirate>0</wifirate>
		<wifitxpwrpcnt>100</wifitxpwrpcnt>
		<wifimaxassoc>10</wifimaxassoc>
		<wifienable>1</wifienable>
		<wififrgthrshld>2346</wififrgthrshld>
		<wifirtsthrshld>2347</wifirtsthrshld>
		<wifidtmintvl>1</wifidtmintvl>
		<wifibcnintvl>100</wifibcnintvl>
		<wifiwme>1</wifiwme>
		<wifipamode>0</wifipamode>
		<wifiisolate>0</wifiisolate>
		<wifiprotectionmode>1</wifiprotectionmode>
		<wifioffenable>1</wifioffenable>
		<wifiofftime>600</wifiofftime>
		<wifiieee80211d>0</wifiieee80211d>
		<wifidisassoctime>300</wifidisassoctime>
		<wifiislationbetween>1</wifiislationbetween>
		<wifibandwidth>20</wifibandwidth>
		<wifiworkmode>0</wifiworkmode>
		<wifiantennanum>2</wifiantennanum>
		<wifitotalswich>1</wifitotalswich>
		<wifiguestofftime>0</wifiguestofftime>
		<wifirestart>1</wifirestart>
	</wifibasic>
	<wifisec>
		<wifiauthmode>WPA2-PSK</wifiauthmode>
		<wifibasicencryptionmodes>WEP</wifibasicencryptionmodes>
		<wifiwpaencryptionmodes>AES</wifiwpaencryptionmodes>
		<wifiwepkey1></wifiwepkey1>
		<wifiwepkey2></wifiwepkey2>
		<wifiwepkey3></wifiwepkey3>
		<wifiwepkey4></wifiwepkey4>
		<wifiwepkeyindex>1</wifiwepkeyindex>
		<wifiwpapsk></wifiwpapsk>
		<wifiwpsenbl>1</wifiwpsenbl>
		<wifiwpscfg>0</wifiwpscfg>
		<wifirotationinterval>60</wifirotationinterval>
		<wifirestart>1</wifirestart>
	</wifisec>
	<wifimacfilter>
		<wifimacfilterstatus>0</wifimacfilterstatus>
		<wifimacfiltermac0/>
		<wifimacfiltermac1/>
		<wifimacfiltermac2/>
		<wifimacfiltermac3/>
		<wifimacfiltermac4/>
		<wifimacfiltermac5/>
		<wifimacfiltermac6/>
		<wifimacfiltermac7/>
		<wifimacfiltermac8/>
		<wifimacfiltermac9/>
	</wifimacfilter>
</ssid0>
<ssid1>
	<wifibasic>
		<wifissid></wifissid>
        <wifichannel>0</wifichannel>
		<wifihide>0</wifihide>
		<wifiautocountryswitch>1</wifiautocountryswitch>
		<wificountry>US</wificountry>
		<wifimode>b/g/n</wifimode>
		<wifirate>0</wifirate>
		<wifitxpwrpcnt>100</wifitxpwrpcnt>
		<wifimaxassoc>10</wifimaxassoc>
		<wifienable>1</wifienable>
		<wififrgthrshld>2346</wififrgthrshld>
		<wifirtsthrshld>2347</wifirtsthrshld>
		<wifidtmintvl>1</wifidtmintvl>
		<wifibcnintvl>100</wifibcnintvl>
		<wifiwme>1</wifiwme>
		<wifipamode>0</wifipamode>
		<wifiisolate>0</wifiisolate>
		<wifiprotectionmode>1</wifiprotectionmode>
		<wifioffenable>1</wifioffenable>
		<wifiofftime>600</wifiofftime>
		<wifiieee80211d>0</wifiieee80211d>
		<wifidisassoctime>300</wifidisassoctime>
		<wifiislationbetween>1</wifiislationbetween>
		<wifibandwidth>20</wifibandwidth>
		<wifiantennanum>2</wifiantennanum>
		<wifitotalswich>1</wifitotalswich>
		<wifiguestofftime>0</wifiguestofftime>
		<wifirestart>1</wifirestart>
	</wifibasic>
	<wifisec>
		<wifiauthmode>WPA2-PSK</wifiauthmode>
		<wifibasicencryptionmodes>WEP</wifibasicencryptionmodes>
		<wifiwpaencryptionmodes>AES</wifiwpaencryptionmodes>
		<wifiwepkey1></wifiwepkey1>
		<wifiwepkey2></wifiwepkey2>
		<wifiwepkey3></wifiwepkey3>
		<wifiwepkey4></wifiwepkey4>
		<wifiwepkeyindex>1</wifiwepkeyindex>
		<wifiwpapsk></wifiwpapsk>
		<wifiwpsenbl>1</wifiwpsenbl>
		<wifiwpscfg>0</wifiwpscfg>
		<wifirotationinterval>60</wifirotationinterval>
		<wifirestart>1</wifirestart>
	</wifisec>
	<wifimacfilter>
		<wifimacfilterstatus>0</wifimacfilterstatus>
		<wifimacfiltermac0/>
		<wifimacfiltermac1/>
		<wifimacfiltermac2/>
		<wifimacfiltermac3/>
		<wifimacfiltermac4/>
		<wifimacfiltermac5/>
		<wifimacfiltermac6/>
		<wifimacfiltermac7/>
		<wifimacfiltermac8/>
		<wifimacfiltermac9/>
	</wifimacfilter>
</ssid1>
<ssid2>
	<wifibasic>
		<wifissid></wifissid>
        <wifichannel>0</wifichannel>
		<wifihide>0</wifihide>
		<wifiautocountryswitch>1</wifiautocountryswitch>
		<wificountry>US</wificountry>
		<wifimode>a/n/ac</wifimode>
		<wifirate>0</wifirate>
		<wifitxpwrpcnt>100</wifitxpwrpcnt>
		<wifimaxassoc>10</wifimaxassoc>
		<wifienable>1</wifienable>
		<wififrgthrshld>2346</wififrgthrshld>
		<wifirtsthrshld>2347</wifirtsthrshld>
		<wifidtmintvl>1</wifidtmintvl>
		<wifibcnintvl>100</wifibcnintvl>
		<wifiwme>1</wifiwme>
		<wifipamode>0</wifipamode>
		<wifiisolate>0</wifiisolate>
		<wifiprotectionmode>1</wifiprotectionmode>
		<wifioffenable>1</wifioffenable>
		<wifiofftime>600</wifiofftime>
		<wifiieee80211d>0</wifiieee80211d>
		<wifidisassoctime>300</wifidisassoctime>
		<wifiislationbetween>0</wifiislationbetween>
		<wifibandwidth>20</wifibandwidth>
		<wifiantennanum>2</wifiantennanum>
		<wifitotalswich>1</wifitotalswich>
		<wifiguestofftime>0</wifiguestofftime>
		<wifirestart>1</wifirestart>
	</wifibasic>
	<wifisec>
		<wifiauthmode>WPA2-PSK</wifiauthmode>
		<wifibasicencryptionmodes>WEP</wifibasicencryptionmodes>
		<wifiwpaencryptionmodes>AES</wifiwpaencryptionmodes>
		<wifiwepkey1></wifiwepkey1>
		<wifiwepkey2></wifiwepkey2>
		<wifiwepkey3></wifiwepkey3>
		<wifiwepkey4></wifiwepkey4>
		<wifiwepkeyindex>1</wifiwepkeyindex>
		<wifiwpapsk></wifiwpapsk>
		<wifiwpsenbl>1</wifiwpsenbl>
		<wifiwpscfg>0</wifiwpscfg>
		<wifirotationinterval>60</wifirotationinterval>
		<wifirestart>1</wifirestart>
	</wifisec>
	<wifimacfilter>
		<wifimacfilterstatus>0</wifimacfilterstatus>
		<wifimacfiltermac0/>
		<wifimacfiltermac1/>
		<wifimacfiltermac2/>
		<wifimacfiltermac3/>
		<wifimacfiltermac4/>
		<wifimacfiltermac5/>
		<wifimacfiltermac6/>
		<wifimacfiltermac7/>
		<wifimacfiltermac8/>
		<wifimacfiltermac9/>
	</wifimacfilter>
</ssid2>
<ssid3>
	<wifibasic>
		<wifissid></wifissid>
        <wifichannel>0</wifichannel>
		<wifihide>0</wifihide>
		<wifiautocountryswitch>1</wifiautocountryswitch>
		<wificountry>US</wificountry>
		<wifimode>a/n/ac</wifimode>
		<wifirate>0</wifirate>
		<wifitxpwrpcnt>100</wifitxpwrpcnt>
		<wifimaxassoc>10</wifimaxassoc>
		<wifienable>1</wifienable>
		<wififrgthrshld>2346</wififrgthrshld>
		<wifirtsthrshld>2347</wifirtsthrshld>
		<wifidtmintvl>1</wifidtmintvl>
		<wifibcnintvl>100</wifibcnintvl>
		<wifiwme>1</wifiwme>
		<wifipamode>0</wifipamode>
		<wifiisolate>0</wifiisolate>
		<wifiprotectionmode>1</wifiprotectionmode>
		<wifioffenable>1</wifioffenable>
		<wifiofftime>600</wifiofftime>
		<wifiieee80211d>0</wifiieee80211d>
		<wifidisassoctime>300</wifidisassoctime>
		<wifiislationbetween>0</wifiislationbetween>
		<wifibandwidth>20</wifibandwidth>
		<wifiantennanum>2</wifiantennanum>
		<wifitotalswich>1</wifitotalswich>
		<wifiguestofftime>0</wifiguestofftime>
		<wifirestart>1</wifirestart>
	</wifibasic>
	<wifisec>
		<wifiauthmode>WPA2-PSK</wifiauthmode>
		<wifibasicencryptionmodes>WEP</wifibasicencryptionmodes>
		<wifiwpaencryptionmodes>AES</wifiwpaencryptionmodes>
		<wifiwepkey1></wifiwepkey1>
		<wifiwepkey2></wifiwepkey2>
		<wifiwepkey3></wifiwepkey3>
		<wifiwepkey4></wifiwepkey4>
		<wifiwepkeyindex>1</wifiwepkeyindex>
		<wifiwpapsk></wifiwpapsk>
		<wifiwpsenbl>1</wifiwpsenbl>
		<wifiwpscfg>0</wifiwpscfg>
		<wifirotationinterval>60</wifirotationinterval>
		<wifirestart>1</wifirestart>
	</wifisec>
	<wifimacfilter>
		<wifimacfilterstatus>0</wifimacfilterstatus>
		<wifimacfiltermac0/>
		<wifimacfiltermac1/>
		<wifimacfiltermac2/>
		<wifimacfiltermac3/>
		<wifimacfiltermac4/>
		<wifimacfiltermac5/>
		<wifimacfiltermac6/>
		<wifimacfiltermac7/>
		<wifimacfiltermac8/>
		<wifimacfiltermac9/>
	</wifimacfilter>
</ssid3>
<wifiwps>
	<wpspin></wpspin>
	<wpsappin></wpsappin>
</wifiwps>
<wifiqrcode>
	<version>9</version>
</wifiqrcode>
</config>