<?xml version="1.0" encoding="UTF-8"?>
<config>
	<enable>1</enable>
	<acls>
		<acl>
			<service>ACS</service>
			<port>8081</port>
			<direction>WAN</direction>
			<status>0</status>
		</acl>
		<acl>
			<service>HTTP</service>
			<port>80</port>
			<direction>WAN</direction>
			<status>0</status>
		</acl>
		<acl>
			<service>HTTPS</service>
			<port>443</port>
			<direction>WAN</direction>
			<status>0</status>
		</acl>
		<acl>
			<service>SAMBA</service>
			<port>139</port>
			<direction>WAN</direction>
			<status>0</status>
		</acl>
		<acl>
			<service>SSH</service>
			<port>22</port>
			<direction>WAN</direction>
			<status>0</status>
		</acl>
		<acl>
			<service>TELNET</service>
			<port>23</port>
			<direction>WAN</direction>
			<status>0</status>
		</acl>
		<acl>
			<service></service>
			<port></port>
			<direction></direction>
			<status></status>
		</acl>
		<acl>
			<service></service>
			<port></port>
			<direction></direction>
			<status></status>
		</acl>
		<acl>
			<service></service>
			<port></port>
			<direction></direction>
			<status></status>
		</acl>
		<acl>
			<service></service>
			<port></port>
			<direction></direction>
			<status></status>
		</acl>
		<acl>
			<service></service>
			<port></port>
			<direction></direction>
			<status></status>
		</acl>
		<acl>
			<service></service>
			<port></port>
			<direction></direction>
			<status></status>
		</acl>
		<acl>
			<service></service>
			<port></port>
			<direction></direction>
			<status></status>
		</acl>
		<acl>
			<service></service>
			<port></port>
			<direction></direction>
			<status></status>
		</acl>
		<acl>
			<service></service>
			<port></port>
			<direction></direction>
			<status></status>
		</acl>
		<acl>
			<service></service>
			<port></port>
			<direction></direction>
			<status></status>
		</acl>
	</acls>
</config>