<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fwswitch>
		<firewallmainswitch>1</firewallmainswitch>
		<firewallipfilterswitch>0</firewallipfilterswitch>
		<firewallwanportpingswitch>0</firewallwanportpingswitch>
		<firewallurlfilterswitch>0</firewallurlfilterswitch>
		<firewallmacfilterswitch>0</firewallmacfilterswitch>
	</fwswitch>
	<dmz>
		<dmzstatus>0</dmzstatus>
		<dmzipaddress>192.168.8.100</dmzipaddress>
	</dmz>
	<sip>
		<sipstatus>1</sipstatus>
		<sipport>5060</sipport>
	</sip>
	<bridge>
                <enable>0</enable>
        <bridgemode>0</bridgemode>
    </bridge>	    
</config>
