<?xml version="1.0" encoding="utf-8"?>
<config>
    <enable>0</enable>
    <vpntype>0</vpntype>
    <lns_addr></lns_addr>
     <tunnel_name></tunnel_name>
     <tunnel_password></tunnel_password>
     <interval>60</interval>
     <ppp_username></ppp_username>
     <ppp_password></ppp_password>
     <l2tp_fail_retry_num>3</l2tp_fail_retry_num>
     <l2tp_fail_retry_interval>30</l2tp_fail_retry_interval>
     <auth_type>1</auth_type>
</config>