<?xml version="1.0" encoding="UTF-8"?>
<config>
        <!-- 各个子系统功能开关 -->
        <sysguardswitch>
                <heartbeatswitch>1</heartbeatswitch>
                <autorebootswitch>0</autorebootswitch>
                <crashprotectswitch>1</crashprotectswitch>
        </sysguardswitch>
        <crashprotect>
            <!-- 事件异常检测监控进程,procclass ：0：WEBSDK ,1: 路由协议 ,进程退出protectpolicy 0：重启进程 1：重启系统-->
                <protectprocesslist>
                        <notify_server>
                            <procclass>0</procclass>
                            <protectpolicy>1</protectpolicy>
                        </notify_server>
                        <ats>
                            <procclass>0</procclass>
                            <protectpolicy>0</protectpolicy>
                        </ats>
                        <webserver>
                            <procclass>0</procclass>
                            <protectpolicy>0</protectpolicy>
                        </webserver>
                        <router>
                            <procclass>0</procclass>
                            <protectpolicy>0</protectpolicy>
                        </router>
                        <agent>
                            <procclass>0</procclass>
                            <protectpolicy>0</protectpolicy>
                        </agent>
                        <device>
                            <procclass>0</procclass>
                            <protectpolicy>0</protectpolicy>
                        </device>
                        <npdaemon>
                            <procclass>1</procclass>
                            <protectpolicy>1</protectpolicy>
                        </npdaemon>
                        <dhcps>
                            <procclass>1</procclass>
                            <protectpolicy>0</protectpolicy>
                        </dhcps>
                        <call>
                            <procclass>1</procclass>
                            <protectpolicy>1</protectpolicy>
                        </call>
                        <dns>
                            <procclass>1</procclass>
                            <protectpolicy>0</protectpolicy>
                        </dns>
            </protectprocesslist>
        </crashprotect>
        <heartbeat>
            <!-- module process maxresponsetime heartbeatinteral heartbeatpolicy moduleclass -->
                <!-- module 对应进程，最大响应时间，心跳间隔，保护策略，模块类别：（0：WEBSDK，1： 路由协议）-->
                <heartbeatlist>
                        <syswatch>
                                <process>syswatch</process>
                                <maxresponsetime>120</maxresponsetime>
                                <heartbeatinteral>20</heartbeatinteral>
                                <heartbeatpolicy>1</heartbeatpolicy>
                                <moduleclass>0</moduleclass>
                        </syswatch>
                        <ats>
                                <process>ats</process>
                                <maxresponsetime>120</maxresponsetime>
                                <heartbeatinteral>20</heartbeatinteral>
                                <heartbeatpolicy>0</heartbeatpolicy>
                                <moduleclass>0</moduleclass>
                        </ats>
                        <webserver>
                                <process>webserver</process>
                                <maxresponsetime>120</maxresponsetime>
                                <heartbeatinteral>20</heartbeatinteral>
                                <heartbeatpolicy>0</heartbeatpolicy>
                                <moduleclass>0</moduleclass>
                        </webserver>
                        <dialup>
                                <process>device</process>
                                <maxresponsetime>120</maxresponsetime>
                                <heartbeatinteral>20</heartbeatinteral>
                                <heartbeatpolicy>0</heartbeatpolicy>
                                <moduleclass>0</moduleclass>
                        </dialup>
                        <bbou>
                                <process>agent</process>
                                <maxresponsetime>120</maxresponsetime>
                                <heartbeatinteral>20</heartbeatinteral>
                                <heartbeatpolicy>0</heartbeatpolicy>
                                <moduleclass>0</moduleclass>
                        </bbou>
                        <npdaemon>
                                <process>npdaemon</process>
                                <maxresponsetime>120</maxresponsetime>
                                <heartbeatinteral>20</heartbeatinteral>
                                <heartbeatpolicy>1</heartbeatpolicy>
                                <moduleclass>1</moduleclass>
                        </npdaemon>
                        <call>
                                <process>call</process>
                                <maxresponsetime>120</maxresponsetime>
                                <heartbeatinteral>20</heartbeatinteral>
                                <heartbeatpolicy>1</heartbeatpolicy>
                                <moduleclass>1</moduleclass>
                        </call>
                        <dhcps>
                                <process>dhcps</process>
                                <maxresponsetime>120</maxresponsetime>
                                <heartbeatinteral>20</heartbeatinteral>
                                <heartbeatpolicy>0</heartbeatpolicy>
                                <moduleclass>1</moduleclass>
                        </dhcps>
                        <dns>
                                <process>dns</process>
                                <maxresponsetime>120</maxresponsetime>
                                <heartbeatinteral>20</heartbeatinteral>
                                <heartbeatpolicy>0</heartbeatpolicy>
                                <moduleclass>1</moduleclass>
                        </dns>
                </heartbeatlist>
        </heartbeat>
        <autoreboot>
            <!-- 重启间隔时间，起始时间间隔（begintime,endtime），流量检测周期，流量上限，调试节点，自动重启标记 -->
            <dayinterval>7</dayinterval>
            <begintime>01:00</begintime>
            <endtime>05:00</endtime>
            <statisticperiod>10</statisticperiod>
            <statisticthreshold>512</statisticthreshold>
            <lanstatisticthreshold>1024</lanstatisticthreshold>
            <rebootflag>0</rebootflag>
        </autoreboot>
</config>
