<?xml version="1.0" encoding="UTF-8"?>
<config>
    <module>
        <path>api/global/module-switch</path>
        <key>cradle_enabled</key>
        <value>1</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_ethernet_topic_00001</node>
                </value>
            </hide>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_connection_task_00013</node>
                    <node>web_faq_task_00009</node>
                </value>
            </hide>
            <hide>
                <steps>2</steps>
                <select>#right</select>
                <value>
                    <node>web_overview_concept_00003__Ethernet_Icon</node>
                </value>
            </hide>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_quicksetup_task_00001__ethernet_settings</node>
                </value>
            </hide>
        </hides>
    </module>

    <module>
        <path>api/global/module-switch</path>
        <key>powersave_enabled</key>
        <url>web_system_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_system_task_00009</node>
                </value>
            </hide>
        </hides>       
    </module>

    <module>
        <path>api/global/module-switch</path>
        <key>monthly_volume_enabled</key>        
        <url>web_statisticsInfo_topic_00001</url>        
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_statisticsInfo_task_00004</node>
                    <node>web_statisticsInfo_task_00005</node>                    
                </value>
            </hide>
        </hides>  
    </module>
    <module>
        <path>config/statistic/config.xml</path>
        <key>set_month_data</key>
        <multi>1</multi>                
        <url>web_statisticsInfo_topic_00001</url>        
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_statisticsInfo_task_00005</node>                                        
                </value>
            </hide>
        </hides>  
    </module>
    <module>
        <path>config/statistic/config.xml</path>
        <key>set_month_data</key>
        <multi>1</multi>
        <multi_display>1</multi_display>        
        <url>web_statisticsInfo_topic_00001</url>        
        <value>0</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_statisticsInfo_task_00004</node>                                        
                </value>
            </hide>
        </hides>  
    </module>
    

    <module>
        <path>config/global/config.xml</path>
        <key>menu.settings.wlan.wps</key>
        <url>web_wlan_topic_00001</url>
        <value>wps</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_topic_00010</node>                    
                </value>
            </hide>
        </hides>       
    </module>

    <module>
        <path>api/global/module-switch</path>
        <key>sdcard_enabled</key>
        <value>1</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_sharing_topic_00001</node>
                </value>
            </hide>
        </hides>       
    </module>

    <module>
        <path>api/global/module-switch</path>
        <key>fastboot_enabled</key>
        <url>web_system_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_system_task_00010</node>
                </value>
            </hide>
        </hides>
    </module>

    <module>
        <path>api/global/module-switch</path>
        <key>wifi_enabled</key>
        <value>1</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_wlan_topic_00001</node>
                </value>
            </hide>
            <hide>
                <steps>2</steps>
                <select>#right</select>
                <value>
                    <node>web_overview_concept_00003__Wlan_Icon</node>
                </value>
            </hide>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_connection_task_00008</node>
                    <node>web_connection_task_00009</node>
                </value>
            </hide>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_connection_task_00020</node>
                </value>
            </hide> 
        </hides>
    </module>

    <module>
        <path>api/global/module-switch</path>
        <key>wifioffload_enabled</key>
        <url>web_connection_topic_00001;web_overview_concept_00003</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_connection_topic_00010</node>
                </value>
            </hide>
			<hide>
                <steps>2</steps>
                <select>#right</select>
                <value>
                    <node>web_overview_concept_00003__Wifi_Icon</node>
                </value>
            </hide>
        </hides>
    </module>

    <module>
        <path>config/global/config.xml</path>
        <key>menu.settings.security.upnp</key>
        <url>web_security_topic_00001</url>
        <value>upnp</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_security_task_00008</node>
                </value>
            </hide>
        </hides>
    </module>

    <module>
        <path>config/global/config.xml</path>
        <key>battery_enabled</key>
        <url>web_overview_concept_00003;web_wlan_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right</select>
                <value>
                    <node>web_overview_concept_00003__Battery_Icon</node>
                    <node>web_overview_concept_00003__Battery_Icon_Coulometer</node>
                </value>
            </hide>
            <hide>
				<steps>2</steps>
				<select>#right ul li a</select>
				<value>
					<node>web_wlan_task_00006</node>
				</value>
	    	</hide>
        </hides>
    </module>

    <module>
        <path>config/global/config.xml</path>
        <key>menu.ussd.prepaid</key>
        <value>object</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_ussdpre_topic_00001</node>
                </value>
            </hide>
        </hides>       
    </module>

    <module>
        <path>config/global/config.xml</path>
        <key>menu.ussd.postpaid</key>
        <value>object</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_ussdpos_topic_00006</node>
                </value>
            </hide>
        </hides>       
    </module>
    
    <module>
        <path>config/wifi/configure.xml</path>
        <key>wifiwps.wpspinpbc</key>
        <url>web_wlan_task_00010</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select></select>
                <value>
                    <node>web_wlan_task_00010__step_pbc ul :last-child</node>
                </value>
            </hide>
        </hides>       
    </module>

    <module>
        <path>api/global/module-switch</path>
        <key>ipv6_enabled</key>
        <url>web_connection_task_00015</url>
        <value>0</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_connection_task_00015__ipv6_max_idle_time_note</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>config/dialup/connectmode.xml</path>
        <key>idle_time_enabled</key>
        <url>web_connection_task_00015</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_connection_task_00015__ipv6_max_idle_time_note</node>
                </value>
            </hide>
        </hides>
    </module>
	
	<module>
        <path>api/global/module-switch</path>
        <key>ipv6_enabled</key>
        <url>web_connection_task_00007</url>
        <value>0</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_connection_task_00007__ipv6_max_idle_time_note1</node>
                    <node>web_connection_task_00007__ipv6_max_idle_time_note2</node>
                </value>
            </hide>
        </hides>
    </module>
	<module>
        <path>config/dialup/connectmode.xml</path>
        <key>idle_time_enabled</key>
        <url>web_connection_task_00007</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_connection_task_00007__ipv6_max_idle_time_note1</node>
                    <node>web_connection_task_00007__ipv6_max_idle_time_note2</node>
                </value>
            </hide>
        </hides>
    </module>
     <module>
        <path>api/global/module-switch</path>
        <key>poweroff_enabled</key>
        <url>web_overview_task_00004</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_overview_task_00004__power_off_note</node>
                </value>
            </hide>
        </hides>
    </module>
    
    <module>
        <path>config/global/config.xml</path>
        <key>menu.settings.security.urlfilter</key>
        <url>web_security_topic_00001;web_security_task_00002</url>
        <value>urlfilter</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_security_task_00010</node>
                </value>
            </hide>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_security_task_00002__step_urlfilter</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/global/module-switch</path>
        <key>ddns_enabled</key>
        <url>web_security_topic_00001;web_Abbreviations_concept_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_security_task_00011</node> 
                </value>
            </hide>
              <hide>
                <steps>2</steps>
                <select>#right</select>
                <value>
                    <node>web_Abbreviations_concept_00001__DDNS</node>
                </value>
            </hide>
        </hides>
    </module>
     <module>
        <path>config/global/config.xml</path>
        <key>menu.settings.internet.wifipriority</key>
        <url>web_connection_topic_00010</url>
        <value>wifipriority</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_connection_task_00016</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/device/usb-tethering-switch</path>
        <key>tetheringswitch</key>
        <url>web_connection_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_connection_task_00017</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>config/sntp/config.xml</path>
        <key>enable</key>
        <url>web_system_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_system_task_00011</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>config/websd/config.xml</path>
        <key>sambaenable</key>
        <value>1</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_samba_task_00001</node>
                </value>
            </hide>
             <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_user_topic_00001</node>
                </value>
            </hide>
        </hides>       
    </module>
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>wifi5g_enabled</key>
        <multi>1</multi>
        <url>web_wlan_topic_00001;web_overview_concept_00003</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00013</node>
                </value>
            </hide>
            <hide>
                <steps>0</steps>
                <select></select>
                <value>
                    <node>web_overview_concept_00003__Wifindoor_Icon</node>
                </value>
            </hide>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_overview_concept_00003__5gwifi_Icon</node>
                </value>
            </hide>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00014</node>
                </value>
            </hide>
        </hides>
    </module>
    
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>wifi5g_enabled</key>
        <multi>1</multi>
        <multi_display>1</multi_display>
        <url>web_wlan_topic_00001</url>
        <value>0</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00009</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
    	<path>api/global/module-switch</path>
    	<key>bridge_enabled</key>
    	<url>web_security_topic_00001;web_overview_task_00004</url>
    	<value>1</value>
    	<hides>
    		<hide>
    			<steps>2</steps>
                <select>#right ul li a</select>
                <value>
                	<node>web_security_task_00012</node>
                </value>
    		</hide>
    		<hide>
    			<steps>2</steps>
                <select>#right ul li a</select>
                <value>
                	<node>web_security_task_00013</node>
                </value>
    		</hide>
    		<hide>
    			<steps>0</steps>
                <select></select>
                <value>
                	<node>web_overview_task_00004__BridgeModeIP_step</node>
                </value>
    		</hide>
    	</hides>
    </module>
    
    <module>
        <path>config/wifi/configure.xml</path>
        <key>wifiBandWidthenable</key>
        <url>web_wlan_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00015</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>config/wifi/configure.xml</path>
        <key>wifidisplayenable</key>
        <url>web_wlan_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00020</node>
                </value>
            </hide>
        </hides>
    </module>   
    <module>
        <path>config/wifi/configure.xml</path>
        <key>wifiap_isolation_enable</key>
        <url>web_wlan_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00008</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>isdoublechip</key>
        <multi>1</multi>
        <multi_display>1</multi_display>
        <url>web_wlan_topic_00001</url>
        <value>0</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00013</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>wifi_country_enable</key>
        <multi>1</multi>
        <mutex>1</mutex>
        <url>web_wlan_topic_00001</url>
        <value>0</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00016</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>wifi_country_enable</key>
        <multi>1</multi>
        <multi_display>1</multi_display>
        <mutex>1</mutex>
        <url>web_wlan_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00007</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>isdoublechip</key>
        <multi>1</multi>
        <mutex>0</mutex>
        <url>web_wlan_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00016</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>isdoublechip</key>
        <multi>1</multi>
        <multi_display>1</multi_display>
        <mutex>0</mutex>
        <url>web_wlan_topic_00001</url>
        <value>0</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00007</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>wifiautocountry_enabled</key>
        <url>web_wlan_task_00007</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_wlan_task_00007__wifiautocountry</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>maxapnum</key>
        <url>web_wlan_task_00003;web_wlan_task_00004;web_wlan_task_00005</url>
        <value>2,4</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_wlan_task_00003__MultSSID_step</node>
                    <node>web_wlan_task_00004__MultSSID_step</node>
                    <node>web_wlan_task_00005__MultSSID_step</node>
                </value>
            </hide>            
        </hides>
    </module>    
    <module>
        <path>api/sms/sms-feature-switch</path>
        <key>getcontactenable</key>
        <multi>1</multi>
        <url>web_sms_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_sms_task_00007</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/sms/sms-feature-switch</path>
        <key>getcontactenable</key>
        <multi>1</multi>
        <multi_display>1</multi_display>
        <url>web_sms_topic_00001</url>
        <value>0</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_sms_task_00002</node>
                </value>
            </hide>
        </hides>
    </module>
       
    <module>
        <path>config/websd/config.xml</path>
        <key>samba.printerenable</key>
        <value>1</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_samba_task_00002</node>
                </value>
            </hide>
        </hides>
    </module> 
    
    
     <module>
        <path>api/global/module-switch</path>
        <key>bbou_enabled</key>
        <value>1</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_update_topic_00001</node>
                </value>
            </hide>
        </hides>
    </module> 
    
    
    <module>
        <path>api/global/module-switch</path>
        <key>localupdate_enabled</key>
        <url>web_update_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_update_task_00003</node>
                </value>
            </hide>
        </hides>
    </module>  
    
    <module>
        <path>api/global/module-switch</path>
        <key>fw_macfilter_enabled</key>
        <url>web_security_topic_00001;web_security_task_00002</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_security_task_00014</node>
                </value>
            </hide>
             <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_security_task_00002__step_macfilter</node>
                </value>
            </hide>
        </hides>
    </module>
    
    
    <module>
    	<path>api/global/module-switch</path>
    	<key>diagnosis_enabled</key>
    	<url>web_system_topic_00001</url>
    	<value>1</value>
    	<hides>
    		<hide>
    			<steps>2</steps>
                <select>#right ul li a</select>
                <value>
                	<node>web_system_topic_00012</node>
                </value>
    		</hide>
    	</hides>
    </module>

    <module>
    	<path>config/sms/config.xml</path>
    	<key>cbsenable</key>
    	<value>1</value>
    	<hides>
    		<hide>
    			<steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                	<node>web_cbs_topic_00001</node>
                </value>
    		</hide>    	
    		<hide>
                <steps>2</steps>
                <select>#right</select>
                <value>
                    <node>web_Abbreviations_concept_00001__CBS</node>
                </value>
            </hide>     	
    	</hides>
    </module>
    <module>
        <path>api/global/module-switch</path>
        <key>voip_enabled</key>
        <value>1</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_voip_topic_00001</node>
                </value>
            </hide>       
        </hides>
    </module>
    
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>stawpsenabled</key>
        <url>web_connection_topic_00010</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_connection_task_00018</node>
                </value>
            </hide>       
        </hides>
    </module>
    <module>
        <path>config/wifi/configure.xml</path>
        <key>wifiwps.wpspinpbc</key>
        <doublemulti>1</doublemulti>
        <url>web_wlan_topic_00010</url>        
        <value>0</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00018</node>
                    <node>web_wlan_task_00019</node>
                </value>
            </hide>       
        </hides>
    </module>
    <module>
        <path>config/wifi/configure.xml</path>
        <key>wifiwps.wpspinpbc</key>
        <doublemulti>1</doublemulti>
        <url>web_wlan_topic_00010</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00019</node>
                </value>
            </hide>                   
        </hides>
    </module>
    
    <module>
        <path>config/wifi/configure.xml</path>
        <key>wifiwps.wpspinpbc</key>
        <doublemulti>1</doublemulti>
        <url>web_wlan_topic_00010</url>        
        <value>2</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00017</node>
                    <node>web_wlan_task_00019</node>
                </value>
            </hide>       
        </hides>
    </module>
    <module>
        <path>config/wifi/configure.xml</path>
        <key>wifiwps.wpspinpbc</key>
        <doublemulti>1</doublemulti>
        <url>web_wlan_topic_00010</url>        
        <value>3</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00017</node>
                    <node>web_wlan_task_00018</node>
                </value>
            </hide>       
        </hides>
    </module>
    
    <module>
        <path>config/wifi/configure.xml</path>
        <key>wifiwps.wpspinpbc</key>
        <doublemulti>1</doublemulti>
        <url>web_wlan_topic_00010</url>        
        <value>4</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>                    
                    <node>web_wlan_task_00018</node>
                </value>
            </hide>       
        </hides>
    </module>    
    <module>
        <path>config/wifi/configure.xml</path>
        <key>wifiwps.wpspinpbc</key>
        <doublemulti>1</doublemulti>
        <url>web_wlan_topic_00010</url>        
        <value>6</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_wlan_task_00017</node>                    
                </value>
            </hide>       
        </hides>
    </module>
    <module>
        <path>api/global/module-switch</path>
        <key>vsim_enabled</key>
        <value>1</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_skytone_topic_00001</node>
                </value>
            </hide>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_skytone_task_00002</node>
                    <node>web_skytone_task_00003</node>
                </value>
            </hide>
        </hides>       
    </module>
    <module>
        <path>api/global/module-switch</path>
        <key>vpn_enabled</key>
        <value>1</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_vpn_topic_00001</node>
                </value>
            </hide>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_vpn_task_00002</node>
                    <node>web_vpn_task_00003</node>
                </value>
            </hide>
        </hides>       
    </module>
    <module>
        <path>api/device/device-feature-switch</path>
        <key>coulometer_enabled</key>
        <multi>1</multi>
        <url>web_overview_concept_00003</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right</select>
                <value>
                    <node>web_overview_concept_00003__Battery_Icon_Coulometer</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/device/device-feature-switch</path>
        <key>coulometer_enabled</key>
        <multi>1</multi>
        <multi_display>1</multi_display>
        <url>web_overview_concept_00003</url>
        <value>0</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right</select>
                <value>
                    <node>web_overview_concept_00003__Battery_Icon</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/global/module-switch</path>
        <key>bluetooth_enabled</key>
        <url>web_connection_topic_00001</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_connection_task_00019</node>
                </value>
            </hide>
        </hides>       
    </module>
    <module>
        <path>api/device/basic_information</path>
        <key>classify</key>
        <url>web_faq_topic_00001</url>
        <value>mobile-wifi</value>
        <hides>
            <hide>
                <step>2</step>
                <select>#right ul li a</select>
                <value>
                    <node>web_faq_task_00014</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/global/module-switch</path>
        <key>session_sms_enabled</key>
        <multi>1</multi>
        <multi_display>1</multi_display>
        <value>0</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_sms_topic_00001</node>
                </value>
            </hide>
        </hides>       
    </module>
    <module>
        <path>api/global/module-switch</path>
        <key>session_sms_enabled</key>
        <multi>1</multi>
        <value>1</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_sms_topic_00008</node>
                </value>
            </hide>
        </hides>       
    </module>    
    <module>
        <path>api/global/module-switch</path>
        <key>dlna_enabled</key>
        <value>1</value>
        <hides>
            <hide>
                <steps>1</steps>
                <select>#navigation ul li a</select>
                <value>
                    <node>web_dlna_task_00001</node>
                </value>
            </hide>
        </hides>       
    </module>    
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>wps_switch_enable</key>
        <url>web_wlan_task_00017</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_wlan_task_00017__wps_switch_note</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>wps_switch_enable</key>
        <url>web_wlan_task_00018</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_wlan_task_00018__wps_switch_note</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>wps_switch_enable</key>
        <url>web_wlan_task_00019</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_wlan_task_00019__wps_switch_note</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>isdoublechip</key>
        <url>web_wlan_task_00017</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_wlan_task_00017__doublechip_step</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/wlan/wifi-feature-switch</path>
        <key>isdoublechip</key>
        <url>web_wlan_task_00018</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_wlan_task_00018__doublechip_step</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/net/net-feature-switch</path>
        <key>net_premode_switch</key>
        <multi>1</multi>
        <url>web_connection_topic_00004</url>
        <value>1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_connection_task_00021</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/net/net-feature-switch</path>
        <key>net_premode_switch</key>
        <multi>1</multi>
        <multi_display>1</multi_display>
        <url>web_connection_topic_00004</url>
        <value>0</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_connection_task_00005</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/webserver/white_list_switch</path>
        <key>whitelist_enable</key>
        <url>web_system_topic_00001</url>
        <value>0,1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_update_task_00005</node>
                </value>
            </hide>
        </hides>
    </module> 
    <module>
        <path>api/online-update/configuration</path>
        <key>server_force_enable</key>
        <url>web_system_topic_00001</url>
        <value>0,1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_system_task_00021</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/online-update/autoupdate-config</path>
        <key>auto_update</key>
        <url>web_system_topic_00001</url>
        <value>0,1</value>
        <hides>
            <hide>
                <steps>2</steps>
                <select>#right ul li a</select>
                <value>
                    <node>web_system_task_00016</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/online-update/autoupdate-config</path>
        <key>auto_update</key>
        <url>web_quicksetup_task_00001</url>
        <value>0</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                      <node>web_quicksetup_task_00001__auto_update</node>
                </value>
            </hide>
        </hides>
    </module>
    <module>
        <path>api/user/state-login</path>
        <key>firstlogin</key>
        <url>web_quicksetup_task_00001</url>
        <value>0</value>
        <hides>
            <hide>
                <steps>0</steps>
                <select>#right</select>
                <value>
                    <node>web_quicksetup_task_00001__modify_password</node>
                </value>
            </hide>
        </hides>
    </module>
</config>